<!-- build:css(.) styles/vendor.css -->
<!-- bower:css -->
<link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel='stylesheet' href='bower_components/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.css' />
<link rel='stylesheet' href='bower_components/select2/dist/css/select2.css' />
<link rel='stylesheet' href='bower_components/morris.js/morris.css' />
<link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
<!-- endbower -->
<!-- endbuild -->