@media (max-width: 767px) {
  body{
    .tablet_nd_mobile{display: block;}
    .desktop{display: none;}
    .pdls_wrapper .select_option_box {
      margin: 10px 0 0;
      float: left;
      width: 100%;
    }
    .loader-content {
      max-width: 30% !important;
      margin-left: -70px !important;
      font-size: 12px;
    }
    .table_popup_box {
      position: absolute;
      left: -110%;
      top: 80%;
      width: 250px;
      select {
        margin: 0 !important;
      }
    }
  }


  /* Pdl first Table css */
  .first_table_wrapper,
  .mesures_first_table_wrapper {
    .main-box-body {
      padding: 10px 0px 20px 0px !important;
      .table-responsive {
        border: none;
        margin-bottom: 0;
        .dataTables_wrapper {
          margin: 0;
          padding: 0;
          float: left;
          width: 1000px;
          .DTTT_button_collection{display:block !important;}
          .DTTT {
            display: block;
            margin: 0 10px 0 0;
            position: relative;
            top: 0;
            left: 0%;
            width: 50%;
            .DTTT_button_xls, .DTTT_button_csv, .DTTT_button_pdf{display: none;}
          }
          .dataTables_filter {
            margin: 0;
            display: block;
            position: relative;
            top: 0px;
            left: 10px;
          }
        }
      }

    }
  }
  .mesures_wrapper .mesures_content_wrapper .mesures_first_table_wrapper .table-responsive .dataTables_wrapper .dataTables_filter{
    margin: 0;
    display: block;
    position: relative;
    top: 0px;
    left: 10px;
  }
  .mesures_wrapper .mesures_content_wrapper .mesures_first_table_wrapper .table-responsive .dataTables_wrapper .DTTT {
    display: block;
    margin: 0 10px 0 0;
    position: relative;
    top: 0;
    left: 0%;
    width: 50%;
  }
  /* Pdl first Table css */
}

@media (max-width: 620px) {
  .mesures_wrapper .mesures_content_wrapper .mesures_first_table_wrapper .table-responsive .dataTables_wrapper .DTTT {
    width: 72%;
  }
  .mesures_wrapper .mesures_content_wrapper .mesures_first_table_wrapper .table-responsive .dataTables_wrapper .dataTables_filter{
    width: 25%;
  }

  /* Pdl first Table css */
  .first_table_wrapper {
    .main-box-body {
      .table-responsive {
        .dataTables_wrapper {
          .DTTT {
            width: 72%;
            a{
              width: 100px;
            }
          }
          .dataTables_filter {
            width: 25%;
          }
        }
      }

    }
  }
  /* Pdl first Table css */
}
