body{
  .DTTT_collection_background{background-color: #000;  opacity: 0.5 !important;}
  .DTTT_dropdown.dropdown-menu
  {
    opacity: 0;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: none !important;
    transform: none !important;
    transition: all 0.1s linear;
    display: block;
    visibility: visible !important;
  }
  .tablet_nd_mobile{display: none;}
  #config-tool-cog
  {
    i {
      -webkit-animation:initial !important;
      animation: initial !important;
    }
  }
  .dataTables_info{
    margin: 0 5px 0 1px;
    padding: 1px 2px 2px 1px;
    display: inline-block;
    border: 1px solid #999;
    position: relative;
    border-radius: 2px;
    color: #999;
  }
  .rowActive{background: #D3D1D1 !important;}
  .loading-data
  {
    position: fixed !important;
    top: 10% !important;
    z-index: 99999;
  }
  .give_a_title, .folder_save_success
  {
    margin: 10px 0;
    padding: 0.5em;
    border-radius: 4px;
  }
  .filter_popup_box
  {
    margin: 0;
    padding: 0;
    top: 50px;
    left: 120px;
    .button_box
    {
      margin: 0 0 5px 0;
      padding: 0;
      float: left;
      width: 100%;
      position: relative;
    }
  }
}
.pdls_wrapper
{
  margin:auto;
  padding: 0;
  display: block;
  position: relative;
  transition: 1ms;

  .give_a_title, .folder_save_success
  {
    margin: 10px 0;
    padding: 0.5em;
    border-radius: 4px;
  }
  .filter_popup_box
  {
    margin: 0;
    padding: 0;
    top: 50px;
    left: 120px;
    .button_box
    {
      margin: 0 0 5px 0;
      padding: 0;
      float: left;
      width: 100%;
      position: relative;
    }
  }
  .folder_wrapper {
    height: 350px;
    overflow: auto;
  }
  .dataTables_wrapper
  {
    > .row:first-child
    {
      > div:first-child {display: none;}
      div
      {
        display: none !important;
        position: absolute;
        top: -33px;
        left: 4px;
        .dataTables_filter
        {
          float: left !important;
          width: 365px;
          label
          {
            width: 100%;
            height: 38px;
            input
            {
              margin: 0 !important;
              width: 100%;
              height: 100%;
              line-height: 28px;
            }
          }

        }
      }
    }
    .dataTables_info {display: none;}
  }
  .first_table_wrapper
  {
    width: 100%;
    float: left;
    .main-box-body
    {
      padding:0px 0px 20px 0px ;
    }
    .table-responsive {
       overflow-x: visible;
    }
    .dataTables_wrapper
    {
      .dataTables_length{display: none;}
      .DTTT
      {
        position: absolute;
        top: -64px;
//        left: 451px;
        left: 48%;
        color: #fff;
        .DTTT_button_pdf {
          margin: 0 4px 0 0;
          border-radius: 3px !important;
          padding: 8px 11px;
          height: 35px !important;
          line-height: 18px !important;
          color: inherit !important;
        }
        .DTTT_button_csv {
          border-radius: 3px !important;
          margin: 0px 4px 0 1px !important;
          height: 35px !important;
          line-height: 22px !important;
          color: inherit !important;
        }
        .DTTT_button_xls {
          border-radius: 3px !important;
          margin: 0px 0 0 1px !important;
          height: 35px !important;
          line-height: 22px !important;
          color: inherit !important;
        }
        .DTTT_button_collection{
          display:none;
          border-radius: 3px !important;
          margin: 0px 0 0 1px !important;
          height: 35px !important;
          line-height: 22px !important;
          color: inherit !important;
        }

      }
      .dataTables_filter
      {
        float: left !important;
        width: 365px;
        display: block;
        position: absolute;
        top: -66px;
        left: 4px;
        label
        {
          width: 100%;
          height: 38px;
          input
          {
            margin: 0 !important;
            width: 100%;
            height: 100%;
            line-height: 28px;
          }
        }

      }
    }
    .paging_simple_numbers {
      margin: 0 auto;
      padding: 0 1%;
      float: left;
      width: 100%;
      position: relative;
      clear: both;
      text-align: center;
    }
    .odd{background: #f5f5f5;}
  }

  .green-box-text{
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  li{
    padding-bottom: 5px;
    .response-data{
      padding-left: 8px;
    }
    span:first-child{
      width: 90px;
      float: left;
    }
    div{
      padding: 2px 0 0 15px;
    }
  }
}
  .main-box.infographic-box.colored.emerald-bg{
    padding: 7px 20px 1px 20px !important;
  }
  .setting-btn{
    position: absolute;
    right: 9px;
    top: -8px;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    padding: 6px;
  }
//  .main-box .main-box-body{
//    padding: 20px 20px 20px 20px;
//  }
//  .first_table_wrapper .main-box-body {
//    padding: 20px 0px 20px 0px;
//  }
  .drop{
    list-style: none;
    position: absolute;
    right: 9px;
    top:42px;
    background: #F3F5F6;
    width: 200px;
    z-index: 1;
    transition: all 0.1s ease-in-out 0s;
    border: 1px solid #dee4e8;
    padding: 0;
    li{
      float: left;
      width: 100%;
      text-align: center;
      line-height: 24px;
      border-bottom: 1px solid #dee4e8;
      a{
        display: block;
        text-decoration: none;
        color: #000;
        float: left;
        width: 100%;
        padding: 5px 10px;
        &:hover{background: #fff;}
      }
    }
    li:last-child{border: none;}
  }
  .select_option_box
  {
    .show_hide_column_wrapper
    {
      margin: 0;
      padding: 0;
      float: left;
      width: 200px;
      position: absolute;
//      position: relative;
      border: 1px solid #DDD;
      border-bottom: none;
      z-index: 99;
      background: #F3F5F6;
      top: 0;
      left: 0;
      .title
      {
        margin: 0;
        padding: 0 9%;
        float: left;
        width: 100%;
        line-height: 30px;
        position: relative;
        text-align: left;
        border-bottom: 1px solid #ddd;
        i{
          position: absolute;
          top: 0;
          right: 0;
          border-left: 1px solid #DDD;
          padding: 8px 5px;
        }
      }
      .show_hide_dropdown_wrapper
      {
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;
        min-height: 0px;
        max-height: 0px;
        position: relative;
        overflow: hidden;
        overflow-y: auto;
        transition: max-height 0.15s ease-out;
        .show_hide_dropdown
        {
          margin: 0;
          padding: 0;
          float: left;
          width: 100%;
          position: relative;
          list-style: none;
          border-bottom: 1px solid #DDD;
          li
          {
            margin: 0;
            padding: 5px 5px;
            border-bottom: 1px solid #ddd;
          }
        }
      }
      .dropdownActive
      {
        min-height: 10px;
        max-height: 350px;
        transition: max-height 0.25s ease-in;
      }
    }
    .month_wrapper
    {
      margin: 0 0 0 30px;
      padding: 0;
      float: right;
      position: relative;
      select
      {
        color: #212121;
        font-size: 15px;
        height: 33px;
        padding: 0 12px;
        background: transparent;
      }
    }
  }
  .secondTable {
    .table {
      tbody {
        > tr {
          > td:first-child{
            font-size: 0.875em !important;
            font-weight: inherit !important;
          }
        }
      }
      tfoot{
        tr{
          font-weight: bold;
        }
      }
    }
  }
  .loading-data
  {
    position: fixed !important;
    top: 10% !important;
    z-index: 999;
  }
  .title_bar
  {
    float: left;
    width: 95%;
  }
  .icon_wrapper {
    margin: 3px 0 0 0;
    padding: 0;
    float: left;
    width: 3%;
    line-height: 18px;
    cursor: pointer;
  }
  .expand_box_area
  {
    margin: 0;
    padding: 0;
    float: left;
    font-size: 22px;
    color: #03A9F4;
  }
  .toggle_box,
  .toggle_box_2
  {
    transition: min-height 0.25s ease-in;
    overflow: hidden;
  }
  .toggle_box_active
  {
    height: 0 !important;
    min-height: 0 !important;
    transition: min-height 0.25s  ease-out ;
    overflow: hidden;
  }
  .tab_wrapper
  {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    position: relative;
    clear: both;
    ul{
      background: #fff;
      border: none !important;
      li{
        line-height: 25px;
        border-radius: 0 !important;
        a{
          border-radius: 0;
          &:hover{
            border-radius: 0;
          }
        }
      }
      .active{
        a{
          border-radius:0  !important;;
        }
      }
    }
    .tab-content > .active {
      display: block;
      border: 1px solid #fff;
      margin: 0px 0px;
      padding: 10px 10px;
      border-top: none;
    }
  }
  .line-graph{
    #mainView {
      clear: both;
      padding: 0 1em;
      background-color: #fff;
      margin: 10px 0 0 0;
      border-radius: 5px;
    }
    .tab-cols{
      padding: 10px 0;
      line-height: 30px;
      font-size: 17px;
    }
    ul.nav-tabs{
       background: #FFF !important;
      li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
         border-radius: 0;
         background-clip: padding-box;
      }
    }
    div.tab-content{
      background-color: #fff;
      margin: 10px 0 0 0;
      border-radius: 5px;
    }
  }
}
