.site_wrapper
{
  margin:auto;
  padding: 0;
  display: block;
  position: relative;
  transition: 1ms;
  #config-tool-cog
  {
    i {
      -webkit-animation:initial !important;
      animation: initial !important;
    }
  }
  .give_a_title, .folder_save_success
  {
    margin: 10px 0;
    padding: 0.5em;
    border-radius: 4px;
  }
  .filter_popup_box
  {
    margin: 0;
    padding: 0;
    top: 50px;
    left: 120px;
    .button_box
    {
      margin: 0 0 5px 0;
      padding: 0;
      float: left;
      width: 100%;
      position: relative;
    }
  }
  .folder_wrapper {
    height: 350px;
    overflow: auto;
  }
  .loading-data{
//    top: -270px !important;
//    left: -82px !important;
  }
  .dataTables_wrapper
  {
    > .row:first-child
    {
      > div:first-child {display: none;}
      div
      {
        position: absolute;
        top: -33px;
        left: 4px;
        width: 60% !important;
        .dataTables_filter
        {
          float: left !important;
          width: 365px;
          label
          {
            width: 100%;
            height: 38px;
            input
            {
              margin: 0 !important;
              width: 100%;
              height: 100%;
              line-height: 28px;
            }
          }

        }
      }
    }
    .dataTables_info {display: none;}
  }
  .first_table_wrapper
  {
    .main-box-body
    {
      padding: 0px 0px 20px 0px !important;
    }
    .table-responsive {
      overflow-x: visible;
    }
    .dataTables_wrapper
    {
      .dataTables_length{display: none;}
      .DTTT
      {
        position: absolute;
        top: -64px;
        left: 400px;
        .DTTT_button_pdf {
          margin: 0 4px 0 0;
          border-radius: 3px !important;
          padding: 8px 11px;
          height: 35px !important;
          line-height: 18px !important;
        }
        .DTTT_button_csv {
          border-radius: 3px !important;
          margin: 0px 0 0 1px !important;
          height: 35px !important;
          line-height: 22px !important;
        }
      }
      .dataTables_filter
      {
        float: left !important;
        width: 365px;
        display: block;
        position: absolute;
        top: -66px;
        left: 4px;
        label
        {
          width: 100%;
          height: 38px;
          input
          {
            margin: 0 !important;
            width: 100%;
            height: 100%;
            line-height: 28px;
          }
        }

      }
    }
    .paging_simple_numbers {
      margin: 0 auto;
      padding: 0 1%;
      float: left;
      width: 100%;
      position: relative;
      clear: both;
      text-align: center;
    }
    .odd{background: #f5f5f5;}
  }
  .paren_uncheck {
    margin: 0 5px 0 1px;
    padding: 1px 2px 2px 1px;
    display: inline-block;
    border: 1px solid #999;
    position: relative;
    border-radius: 2px;
    color: #999;
  }
  .green-box-text{
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    li{
      padding-bottom: 5px;
      .response-data{
        padding-left: 8px;
      }
      span:first-child{
        width: 90px;
        float: left;
      }
      div{
        padding: 2px 0 0 15px;
      }
    }
  }
  .link-elem{
    padding: 7px 20px 1px 20px !important;
    .nestable-elem{
      height: 237px;
      overflow: hidden;
      .list-handle{
        background: none repeat scroll 0 0 #F6F6F8;
        border: 2px solid #e1e1e1;
        border-radius: 0;
        background-clip: padding-box;
        color: #fff;
        display: block;
        font-size: 0.875em;
        font-weight: 700;
        height: 32px;
        padding: 5px 10px;
        text-decoration: none;
        box-sizing: border-box;
      }
      .dd-item, .dd-empty, .dd-placeholder{
        padding: 0 !important;
      }
      .elem-list{
        float: left;
        width: 100%;
        height: 240px;
        overflow-y: auto;
        .dd-item > button[data-action="collapse"]:before{
          content: '';
          display: block;
          position: absolute;
          text-align: center;
          text-indent: 0;
          margin: 4px;
          height: 0;
          top: 4px;
          width: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #080808;
        }
        .dd-item > button:before{
          content: '';
          display: block;
          position: absolute;
          text-align: center;
          text-indent: 0;
          height: 0;
          top: 7px;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 5px solid #fff;
        }
        div#child>div:before{
          font-family: FontAwesome;
          content: "\f0f6";
          padding-right: 10px;
        }
      }
    }
  }
  .setting-btn{
    position: absolute;
    right: 9px;
    top: -8px;
    font-size: 30px;
    cursor: pointer;
    //    background: #fff;
    width: 50px;
    padding: 6px;
  }
//  .main-box .main-box-body{
//    padding: 20px 20px 20px 20px;
//  }
  .drop{
    list-style: none;
    position: absolute;
    right: 9px;
    top:42px;
    background: #F3F5F6;
    width: 200px;
    z-index: 1;
    transition: all 0.1s ease-in-out 0s;
    border: 1px solid #dee4e8;
    padding: 0;
    li{
      float: left;
      width: 100%;
      text-align: center;
      line-height: 24px;
      border-bottom: 1px solid #dee4e8;
      a{
        display: block;
        text-decoration: none;
        color: #000;
        float: left;
        width: 100%;
        padding: 5px 10px;
        &:hover{background: #fff;}
      }
    }
    li:last-child{border: none;}
  }
  .rowActive{background: #D3D1D1 !important;}
  .select_option_box
  {
    .show_hide_column_wrapper
    {
      margin: 0;
      padding: 0;
      float: left;
      width: 200px;
      position: absolute;
      border: 1px solid #DDD;
      border-bottom: none;
      z-index: 99;
      background: #F3F5F6;
      top: 0;
      left: 0;
      .title
      {
        margin: 0;
        padding: 0 9%;
        float: left;
        width: 100%;
        line-height: 30px;
        position: relative;
        text-align: left;
        border-bottom: 1px solid #ddd;
        i{
          position: absolute;
          top: 0;
          right: 0;
          border-left: 1px solid #DDD;
          padding: 8px 5px;
        }
      }
      .show_hide_dropdown_wrapper
      {
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;
        height: 0px;
        position: relative;
        overflow: hidden;
        overflow-y: auto;
        transition: height 0.15s ease-out;
        .show_hide_dropdown
        {
          margin: 0;
          padding: 0;
          float: left;
          width: 100%;
          position: relative;
          list-style: none;
          border-bottom: 1px solid #DDD;
          li
          {
            margin: 0;
            padding: 5px 5px;
            border-bottom: 1px solid #ddd;
          }
        }
      }
      .dropdownActive
      {
        height: 370px;
        transition: height 0.25s ease-in;
      }
    }
    .month_wrapper
    {
      margin: 0;
      padding: 0;
      float: right;
      position: relative;
      select
      {
        color: #212121;
        font-size: 15px;
        height: 33px;
        padding: 0 12px;
        background: transparent;
      }
    }
  }

}
