.main_wrapper
{
  .activeButton{
    background-color: #0298d1;
    border-color: #0178a5;
  }
  .row
  {
    label
    {
      line-height:30px;
    }
    .select2-search-choice-close{  background: url(../images/select2.png)right top no-repeat !important;}
    .select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover,
    .select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
      background-position: right -11px!important;
    }

    .multi_select_custom
    {
      margin: 0;
      padding: 0;
      float: left;
      width: 100%;
      position: relative;
      clear: both;
      background: #fff;
      list-style: none;
      @include border-radius(4px);
      @include border(2px solid #ddd);
      > li:first-child{display: none;}
      li
      {
        position: relative;
      }
      .tagName
      {
        display: inline-block;
        float: left;
        border: 1px solid #D0D0D0;
        padding: 3px 5px;
        margin: 2px 2px;
        cursor: pointer;
        background: #efefef;
        list-style: none;
        @include border-radius(3px);
        .cross
        {
          color: #ddd;
          &:hover{color: #000;}
        }
      }
      .last_child_input
      {
        margin: 0;
        padding: 0;
        width: 100%;
        float: left;
        line-height: 32px;
        position: relative;
        input
        {
          padding: 0 5px;
          border: 0;
          outline: none;
          background: none;
          width: 100%;
          position: relative;
          &:focus
          {
            outline: none;
            background: none;
            border: none;
          }
        }
      }
      .building_input{width: 130px !important;}
      .suggestions-list
      {
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;
        clear: both;
        list-style: none;
        position: relative;
        top: 0;
        left: 0;
        border: none;
        border-top:1px solid #ddd;
        overflow: visible;
      }
    }
    .disable
    {
      background: rgba(221, 221, 221, 0.77);
      cursor: not-allowed;
      min-height: 36px;
      .disableLi{
        display: block !important;
        float: left;
        width: 100%;
        height: 100%;
        cursor: not-allowed;
        position: absolute;
        z-index: 99;
        background: rgba(238, 238, 238, 0.5);
      }
    }
  }
}
